.modal {
  &.active {
    display: flex;
  }

  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;

  &__content {
    background: #FFFFFF;
    max-width: 60%;
    width: 100%;
    max-height: 75%;
    height: 100%;
    position: relative;
    padding-left: 50px;
    padding-top: 40px;
    @media (max-width: 1000px) {
      max-width: 75%;
    }
    @media (max-width:470px) {
      padding-left: 30px;
    }

    &_title {
      font-family: BebasNeue;
      font-style: normal;
      font-weight: normal;
      font-size: 50px;
      line-height: 100px;
      color: #2D2D2D;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  & form {
    & .btn {
      font-family: BebasNeue;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 120%;
      color: #FFFFFF;
      background: #0C48C6;
      padding: 13px 65px;
      border: none;
      margin-top: 30px;
    }
    & .top {
      display: flex;
      @media (max-width:870px) {
        flex-direction: column;
      }

      & label {
        display: flex;
        flex-direction: column;
        max-width: 260px;
        width: 100%;
        margin-right: 40px;
        font-family: PFSquareSansPro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #2D2D2D;
        @media (max-width:1200px) {
          margin-right: 25px;
        }
        @media (max-width:470px) {
          max-width: 230px;
        }

        & input {
          border: 1px solid #2D2D2D;
          outline: none;
          padding: 18px 20px;
          margin-top: 10px;
        }
      }
    }

    & .bottom {
      display: flex;
      margin-top: 15px;
      @media (max-width: 1000px) {
        display: none;
      }

      & .card {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
      }

      & label {
        font-family: PFSquareSansPro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 120%;
        color: #2D2D2D;
        margin-bottom: 10px;
        display: block;
        @media (max-width:1200px) {
          font-size: 16px;
        }
      }
      & .inputs {
        display: flex;
        align-items: center;

        & input {
          border: 1px solid #2D2D2D;
          outline: none;
          padding: 18px 20px;
          max-width: 85px;
          width: 100%;
          margin-right: 15px;
          @media (max-width:1200px) {
            margin-right: 10px;
          }
        }
        & span {
          font-family: PFSquareSansPro;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 120%;
          color: #2D2D2D;
          @media (max-width:1200px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}