@font-face {
	font-family: BebasNeue;
	font-display: swap;
	src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GTAmerica;
	font-display: swap;
	src: url("../fonts/GTAmerica-Medium.woff2") format("woff2"), url("../fonts/GTAmerica-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: PFSquareSansPro;
	font-display: swap;
	src: url("../fonts/PFSquareSansPro-Medium.woff2") format("woff2"), url("../fonts/PFSquareSansPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: PFSquareSansPro;
	font-display: swap;
	src: url("../fonts/PFSquareSansPro-Regular.woff2") format("woff2"), url("../fonts/PFSquareSansPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
