.container {
  max-width: $container;
  width: 100%;
  padding: 0 $padding;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.mw10 {
  max-width: 10%;
  width: 100%;
}
.mw20 {
  max-width: 20%;
  width: 100%;
}
.mw30 {
  max-width: 30%;
  width: 100%;
}
.mw40 {
  max-width: 40%;
  width: 100%;
}
.mw50 {
  max-width: 50%;
  width: 100%;
}
.mw60 {
  max-width: 60%;
  width: 100%;
}
.mw70 {
  max-width: 70%;
  width: 100%;
}
.mw80 {
  max-width: 80%;
  width: 100%;
}
.mw90 {
  max-width: 90%;
  width: 100%;
}
.mw100 {
  max-width: 100%;
  width: 100%;
}