$container: 1200px;
$padding: 15px;
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

@mixin media($size: $xxl) {
  @media (max-width: $size) {
    @content;
  }
}

@mixin container($padding: 12px) {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding;
  padding-right: $padding;
  @include media($xxl){
    max-width: 1140px;
  }
  @include media($xl){
    max-width: 960px;
  }
  @include media($lg){
    max-width: 720px;
  }
  @include media($md){
    max-width: 540px;
  }
  @include media($sm){
    max-width: 360px;
  }
}